*{
  margin: 0%;
  padding: 0%;
}

.bg-img{
  background-image: url(./component/1-water-money-plant.png);
  background-position: center;
  background-size:cover;
  background-color: rgba(0, 0, 0, 0.312);
  background-blend-mode: darken;
  width: 100%;
  height: 100vh;
  position: relative;
}
.top_cont{
  position: absolute;
  top: 2%;
  bottom: 0;
}
.cont{
  position: absolute;
  top: 40%;
  bottom: 50%;
  width: 400px;
  height: 250px;
  left: 5%;
  }
  .unlock{
    word-spacing:normal;
    line-height: 1.5cm;
  }
  .lin{
  border-radius: 20px !important;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
    font-family: 'Poppins';
    backdrop-filter: blur(50px);
    box-sizing: border-box;
    height: 40px;
    font-size: 12px;
  }
  .con{
    width: 100%;
    height: 700px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    }
  .content{
    background-image: url(../src/component/hombre-poniendo-moneda-hucha-cerdoxdxa_218381-8945.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100%;
  }
  .form-cont{
    width: 450px !important;
    height: auto !important;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 10px white;
    border-radius: 5px;
  }
  .form-cont2{
    width: 450px !important;
    height: auto !important;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 10px white;
    border-radius: 5px;
  }
  .form-cont3{
    width: auto !important;
    height: 550px !important;
    padding: 30px;
    /* background-color: rgba(255, 255, 255, 0.9); */
    /* box-shadow: 0px 0px 10px white; */
    border-radius: 5px;
  }
  .displ{
    width: 850px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .disp{
    width: 850px;
    height: 100px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .disp div{
    width: 400px;
  }
  .displ div{
    width: 400px;
  }
  
  .eye{
    border: none;
    background-color: transparent;
    padding-right: 10px;
  }
  .inp{
    width: 100%;
    height: 50px;
    background-color:rgba(102, 114, 234, 0.2);
    border-radius: 20px;
    padding-left: 10px;
  }
  .inp input{
    outline: none !important;
    background-color:rgba(102, 114, 234, 0.2) !important;
    border: none;
  }
  .inp:focus{
    box-shadow: 0px 1px 1px #8c91cd;
  }
  .but{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .but button {
    height: 50px;
    background-color: #6672EA;
    border-radius: 20px;
    border: none;
    color: #ffffff;
    font-size: 17px;
  }
  .inp1{
    -webkit-margin-start: 2px;
    width: 100%;
    border: none;
    background-color:rgba(102, 114, 234, 0.2) !important;
    height: 50px !important;
    outline: none;
    padding-left: 10px;
    border-radius: 15px !important;
  }
  .inp1:focus{
    box-shadow: 0px 1px 1px #8c91cd;
  }
  .thrift{
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom:2px solid #171D35;
  }
  .thrift:focus{
    outline: none;
    border-bottom:2px solid #6875e0;
  }
  .label{
    color: rgba(0, 0, 0, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
  }
  .dont{
    font-size: 16px;
    color: #6672EA;
    font-family: 'Poppins';
  }
  .log{
    height: 100px;
  }
  .log1{
    height: 40px;
  }
  .log1 h1{
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 600;
  }
  .log h1{
    font-family: 'Poppins';
    font-size: 25px;
    font-weight: 600;
  }
  .lik{
    font-size: 16px;
    color: #6672EA;
    font-family: 'Poppins';
  }
  /* .displ{
    width: 750px;
    height: 80px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
  } */
  .formi{
    width: auto;
    height: 550px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
  }
  .in{
    width: 45% !important;
    height: 40px !important;
    margin: 0px 10px;
  }
  .linkStyles{
    color: #6672EA;
    text-decoration: none;
  }
  .dash{
    background-color: rgba(239, 242, 249, 1);
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow-x: hidden;

  }
 .wid {
    /* background-color: #d1d1d1; */
    width: 70%;
    height:(100vh-70px);
    position: absolute;
    top: 10%;
    left: 25%;
    /* border: 1px solid red; */
    overflow-y: auto;
  }
  .wid::-webkit-scrollbar{
    display: none;
  }
  .side{
    width: 18%;
    height: 100vh;
    background-color:#171D35;
    border: 0px 1px 0px 0px;
    /* box-shadow: 1px 1px 3px ; */
    /* border-radius: 0px 150px 150px 0px; */
    position: fixed;
    left: 0;
  }
  .cont-side{
    width: 200px;
    height: 70px;
    margin: auto;
  }
  .logo{
    width: 50px;
    margin: auto;
    height: 150px;
  }
  .down{
    width: 200px;
    height: 500px;
    margin: auto;
  }
  .topnav{
    width: 80%;
    height: 70px;
    position: absolute;
    /* float: right; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
    right: 0;
  }
  .dis-inp{
    width: 700px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px rgb(234, 235, 237);
  }
  .dis-inp input{
    width: 700px;
    outline: none;
    border: none;
    background-color: transparent;
  }
  .dis-inp input::placeholder{
    color: #d1d1d1;
    font-size: 14px;
  }
  .dis-inp button{
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: #d1d1d1;
  }
  .icon-div{
    width:200px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .icon-notify{
    border: none;
    background-color: transparent;
    font-size: 16px;
    position: relative;
    /* border: 1px solid red; */
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.384);
    border-radius: 100%;
    /* color: #d1d1d1; */
  }
  .notify{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    /* background-color:red; */
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: 700;
  }
  .bell-icon{
    color: blue;
    font-size: 16px;
  }
  .notification-icon{
    color: #d1d1d1;
    font-size: 16px;
  }
  .icon_img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items:center ;
    /* border: 1px solid red; */
  }
  .icon_img div{
    width: 100%;
    height: 40px;
    border-radius: 100%;
    background-color: #171D35;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: white; */
  }
  .icon_img h1{
    font-size: 20px;
    color: white;
    text-transform: capitalize;

  }
  .dash-cont{
    width: 100%;
    min-height: 50vh!important;
    display: flex !important;
    /* gap: 1rem; */
    flex-wrap: wrap !important;
    justify-content: space-between !important;
    align-items: center;
  }
  .money-div{
    width: 400px !important;
    height: 200px !important;
    /* flex: 5 5 30rem; */
    margin: 10px !important;
    background-color: #ffffff !important;
    box-shadow: 0px 0px 20px #d6d8f5 ;
    border-radius: 10px;
  }
  .money-div h1{
    color: #18217A;
    font-size: 20px;
  }
  
  .balance h1{
    color: #18217A;
    font-size: 18px;
  }
  .dollar-icon{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 0px 0px 7px;
    color:#18217A;
    font-size: 30px;
  }
  .wallet{
    width: 100%;
    height: 400px;
  }
  .deposit{
    width: 200px;
    height: 40px;
    background-color: white;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: gray;
  }
  .withdraw{
    width: 200px;
    height: 40px;
    background-color:transparent;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: white;
  }
  .payment{
    width: 450px;
    height: 40px;
    border-radius: 30px;
    background-color: #616abc;
  }
  .inp-cont{
    width: 500px;
    height: 100px;
  }
  .fund-cont{
    width: 500px;
    height: 300px;
    margin: auto;
  }
  .bg_img{
    background-image: url(./component/large-group-different-people-standing-around-globe-background_768258-1496_1_-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 100%;
    margin-top: 20px;
  }
  .withdraw-but{
    width: 100px;
    height: 40px;
    background-color: #616abc;
    color: white;
    border-radius: 5px;
    border: 1px solid #616abc;
  }
  .loader{
    height: 600px;
    width: 100%;
    /* margin-top: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bc{
    width: 80%;
    height: 100px;
    border-radius: 25px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#fff;
    margin: auto;
    box-shadow:0px 20px 25px 0px rgba(222, 217, 217, 0.1);
  }
  .bc-iner{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 80px;
    width:80%;
  }
  .bc-img{
    border-radius: 100%;
    width: 80px !important;
    height: 80px;
    box-shadow: 1px 1px 5px rgb(193, 194, 196);
  }
  .bc-img img{
    width: 100%;
    height: 80px;
    border-radius: 100%;
  }
  .bc-text{
    width: 50%;
    padding:30px;
  }
  .bc-text h1{
   color: #18217A; 
   font-family: sans-serif;
  }
  .bc-text span{
    color: rgba(0, 0, 0, 0.50); 
    font-size: 18px;
    font-family: sans-serif;
   }
   #outline {
    stroke-dasharray: 2.42777px, 242.77666px;
    stroke-dashoffset: 0;
    -webkit-animation: anim 1.6s linear infinite;
    animation: anim 1.6s linear infinite;
  }
  .pass{
    color: #18217A;
  }
  .body {
    background-image:url(../src/component/hombre-poniendo-moneda-hucha-cerdoxdxa_218381-8945.avif);
    /* -webkit-mask-image: linear-gradient(black, transparent); */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    /* background-color: #616abc; */
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .body2{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.548);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .iner-body{
    width: 500px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.872);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }
  .iner-body2{
    width: 500px;
    height: 400px;
    /* border: 1px solid #171D35; */
  }
  .inp-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    /* background-color: #6875e0; */
    /* background-color: white; */
    box-shadow: 1px 1px 5px white;
    border-radius: 10px;
    height: 150px;
    margin: auto;
  }
  .but2{
    /* border: 1px solid red; */
    text-align: center;
  }
  .inp-field{
    border-radius: 100%;
    width: 40px;
    text-align: center;
    height: 40px;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    border: 2px solid #18217A;
    background-color: transparent;
    
  }
  .inp-field:focus{
    text-align: center;
  }
  .email-cont{
    background-color:rgba(219, 217, 240);
    width: 400px;
    padding: 10px;
    /* border: 1px solid gray; */
    border-radius: 15px ;
    height: 50px;
    text-align: left;

  }
  .forg-cont{
    width: 400px;
    height: 120px;
    /* border: 1px solid black; */
    margin: auto;
  }
  .forg-cont2{
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    margin: auto;
  }
  .email-cont input{
    width: 400px;
    border: none;
    outline: none;
    background-color: rgba(219, 217, 240);
  }
  .email-cont input::placeholder{
    color: black;
  }
  .email-but{
    width: 400px !important;
    margin: auto !important;
    height: 40px;
    color: white;
    background-color:#6672EA !important;
    border: none !important;
    border-radius: 10px;
    text-align: center;
  }
  .form-group{
    margin: auto;
    /* border: 1px solid red; */
    width: 400px !important;
  }
  .mar{
    width: 200px;
    height: 200px;
    border-radius: 10px;
  }
  .mar img{
    width: 100%;
    
  }
  .wrongpagediv{
    width: 700px;
    height: 200px;
    border: 1px solid red;
    margin-top: 40px;
    text-align: center;
  }
  .wrongpage{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: top;
  }
  .bar{
    width: 40px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }
  
  @-webkit-keyframes anim {
    12.5% {
      stroke-dasharray: 33.98873px, 242.77666px;
      stroke-dashoffset: -26.70543px;
    }
  
    43.75% {
      stroke-dasharray: 84.97183px, 242.77666px;
      stroke-dashoffset: -84.97183px;
    }
  
    100% {
      stroke-dasharray: 2.42777px, 242.77666px;
      stroke-dashoffset: -240.34889px;
    }
  }
  
  @keyframes anim {
    12.5% {
      stroke-dasharray: 33.98873px, 242.77666px;
      stroke-dashoffset: -26.70543px;
    }
  
    43.75% {
      stroke-dasharray: 84.97183px, 242.77666px;
      stroke-dashoffset: -84.97183px;
    }
  
    100% {
      stroke-dasharray: 2.42777px, 242.77666px;
      stroke-dashoffset: -240.34889px;
    }
  }
  .table{
    width: 100%;
    height: auto;
    border-collapse: collapse;
  }
  .table td, .table th{
    border: 1px solid #ddd;
  }
  .table td{
    background-color: #b5baeae8;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    text-transform: capitalize;
  }
  .table th{
    background-color: #b5baeae8;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
  }
  .link{
    height: 100px;
    width: 100%;
    background-color: white;
    box-shadow:0px 0px 5px #d1d1d1;
  }
  .link td{
    padding-left: 20px;
  }
  .link th{
    padding-left: 20px;
  }
  .cont-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px; 
    position: absolute;
    bottom: 0;
    /* margin-top: 600px; */
  }
  .group-cont{
    position: relative;
    height: 600px;
  }
  .joingroup-bg{
    height: 100vh;
    background-image: url(../src/component/1-water-money-plant.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .join-div{
    width: 400px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
  }
  .join-img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }
  .join-img img{
    border-radius: 100%;
    box-shadow: 1px 1px 5px rgb(193, 194, 196);
  }
  
@media (max-width:1200px) {
  .disp{
    width: 450px;
    height: 100px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .side{
    width: 250px;
    height: 100vh;
    background-color:#171D35;
    border: 0px 1px 0px 0px;
    /* box-shadow: 1px 1px 3px ; */
    /* border-radius: 0px 150px 150px 0px; */
    position: fixed;
    /* z-index: 1; */
    left: 0;
  }
  .wid {
    /* background-color: #d1d1d1; */
    width: 70%;
    height:650px;
    position: absolute;
    top: 10%;
    left: 25%;
    overflow-y: auto;
  
  }
  .dash-cont{
    width: 100%;
    min-height: 100vh;
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-around !important;
    align-items: center;
    margin-left: 20px;
  }
  .topnav{
    width: 50%;
    height: 70px;
    /* position: fixed; */
    float: right;
    display: flex;
    justify-content: end;
    align-items: center;
    /* top: 0;
    right: 0; */
  }
  .dis-inp input{
    width: 700px;
    outline: none;
    border: none;
    background-color: transparent;
    display: none;
  }
  .dis-inp{
    width: 700px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px rgb(234, 235, 237);
    display: none;
  }
}
@media (max-width:450px) {
  .form-cont2{
    width: 90% !important;
    height: auto !important;
    /* margin: 0px 20px; */
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 10px white;
    margin: auto;
  }
  .form-cont{
    width: 90% !important;
    height: 450px !important;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 10px white;
  }
  .cont{
    position: absolute;
    top: 30%;
    bottom: 50%;
    width: 90%;
    height: 250px;
    left: 5%;
    }
    .inp1{
      -webkit-margin-start: 2px;
      width: 100%;
      border: none;
      background-color:rgba(102, 114, 234, 0.2) !important;
      height: 40px !important;
      outline: none;
      padding-left: 10px;
      border-radius: 15px !important;
    }
    .inp{
      width: 100%;
      height: 40px;
      background-color:rgba(102, 114, 234, 0.2);
      border-radius: 20px;
      padding-left: 10px;
    }
    .but{
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
    }
    .but button {
      height: 40px;
      background-color: #6672EA;
      border-radius: 20px;
      border: none;
      color: #ffffff;
      font-size: 17px;
    }
    .side{
      width: 0;
      height: 100vh;
      background-color:#171D35;
      border: 0px 1px 0px 0px;
      /* box-shadow: 1px 1px 3px ; */
      /* border-radius: 0px 150px 150px 0px; */
      position: fixed;
      left: 0;
      display: none;
    }
    .wid {
      /* background-color: #d1d1d1; */
      width: 100%;
      height:(100vh-70px);
      position: absolute;
      top: 10%;
      left: 0;
      overflow-y: auto;
      /* margin-inline: auto; */
    }
    .wid::-webkit-scrollbar{
      display: none;
    }
    .dash-cont{
      width: 100%;
      min-height: 50vh;
      display: flex !important;
      flex-wrap: wrap !important;
      justify-content: space-around !important;
      align-items: center;
      /* border: 1px solid burlywood; */
    }
    .money-div{
      width: 300px !important;
      height: 200px !important;
      /* flex: 5 5 30rem; */
      margin: 10px !important;
      background-color: #ffffff !important;
      box-shadow: 0px 0px 20px #d6d8f5 ;
      border-radius: 10px;
    }
    .topnav{
      width: 100%;
      height: 70px;
      /* position: fixed; */
      float: right;
      display: flex;
      justify-content: space-between;
      align-items: center;
      /* border: 1px solid red; */
      /* top: 0;
      right: 0; */
    }
    .bar{
      width: 40px;
      height:40px ;
      /* border: 1px solid red; */
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .icon-div{
      width:250px;
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      /* border: 1px solid black; */
    }
    .iner-body{
      width: 380px;
      height: 400px;
      background-color: rgba(255, 255, 255, 0.872);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      /* border: 1px solid brown; */
    }
    .iner-body2{
      width: 90%;
      height: 400px;
      /* border: 1px solid #171D35; */
    }
    
    .email-cont{
      background-color:rgba(219, 217, 240);
      width:100%;
      padding: 10px;
      /* border: 1px solid rgb(194, 65, 65); */
      border-radius: 15px ;
      height: 50px;
      text-align: left;
      margin: auto;
  
    }
    .form-group{
      margin: auto;
      /* border: 1px solid red; */
      width: 100% !important;
      /* padding: 0 10px; */
    }
    .email-but{
      width: 90% !important;
      margin: auto !important;
      height: 40px;
      color: white;
      background-color:#6672EA !important;
      border: none !important;
      border-radius: 10px;
      text-align: center;
    }
    .body2{
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.548);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .forg-cont{
      width: 100%;
      height: 120px;
      /* border: 1px solid black; */
      margin: auto;
      margin-top: 20px;
    }
    .inp-div{
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      /* background-color: #6875e0; */
      /* background-color: white; */
      box-shadow: 1px 1px 5px white;
      border-radius: 10px;
 
      height: 150px;
      margin: auto;
    }
    .inp-field{
      border-radius: 100%;
      width: 40px;
      text-align: center;
      height: 40px;
      outline: none;
      border: none;
      display: flex;
      justify-content: center;
      border: 2px solid #18217A;
      background-color: transparent;
      
    }
    .mar{
      width: 200px;
      height: 200px;
      border-radius: 10px;
    }
    .mar img{
      width: 100%;
    }
    .forg-cont2{
      width: 100%;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }
}